<figure>
  <img src="/static/img/art/{{ id }}.png" alt="{{ date }} {{ title }}" class="img-fluid">
  <figcaption>
    {{ date }} {{ title }} &sdot; {{ height }} cm &times; {{ width }} cm,
    {{ medium }}
    <br>
    {{# description }}
    {{ . }}
    {{/ description }}
  </figcaption>
</figure>
