<figure>
  <img src="/static/img/art/{{ id }}.png" alt="{{ date }} {{ title }}" class="img-fluid">
  <figcaption>
    {{ date }}
    &sdot;
    {{# title }}{{ . }}{{/ title }}
    {{^ title }}Untitled{{/ title }}
    &sdot;
    {{ height }} &times; {{ width }} cm
    &sdot;
    {{ medium }}
    <br>
    {{# description }}
    {{ . }}
    {{/ description }}
  </figcaption>
</figure>
