<h1>{{ title }}</h1>

<p>
  <em class="text-muted">
    In {{ location }} from {{ start }} to {{ end }}
  </em>
</p>
<p><a href="{{ link }}">{{ link }}</a></p>
<p>
  {{ description }}
</p>

{{# artwork }}
{{> artwork }}
{{/ artwork }}
