{{# exhibitions_by_year }}
<h2>{{ year }}</h2>
<ul>
  {{# exhibition }}
  <li><a href="{{ file }}">{{ title }} ({{ location }}, from {{ start }} to {{ end }})</a></li>
  {{/ exhibition }}
</ul>
{{/ exhibitions_by_year }}

{{^ exhibitions_by_year }}
<p>No exhibitions.</p>
{{/ exhibitions_by_year }}
