<h1>{{ title }}</h1>

<p>
  <em class="text-muted">
    {{ location }} from {{ start }} to {{ end }}
  </em>
</p>
<p><a href="{{ link }}">{{ link }}</a></p>
{{& description_rendered }}

{{# artwork }}
{{> artwork }}
{{/ artwork }}
